@charset "UTF-8";
* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  background: #f8f9ff;
  font-family: "Roboto", sans-serif;
  color: #8794ba;
  font-size: 18px;
}

a, img {
  display: inline-block;
  text-decoration: none;
}

/* ========= header ========= */
.header {
  height: 815px;
  background: url("../img/header/head-bg-top.png") center bottom/cover no-repeat;
}

.container {
  margin: 0 auto;
  max-width: 1181px;
}

.header__main {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.header__logo {
  width: 184px;
  height: 40px;
  margin-right: 78px;
}

.header__img {
  width: 100%;
}

.header__nav {
  display: flex;
  margin-right: auto;
}

.header__nav-ul {
  display: flex;
}

.header__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794BA;
  padding: 18px;
}

.header__link:hover {
  color: #EF2A82;
  background: #172755;
  border-radius: 5px;
}

.header__link:active {
  color: #8794BA;
}

.header__sing {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  color: #8794BA;
}

.header__btn-in {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  cursor: pointer;
  color: #8794BA;
  background: #1E2E5C;
}

.header__btn-in:hover {
  color: #EF2A82;
}

.header__btn-in:active {
  color: #8794BA;
  background: #1E2E5C;
}

.header__btn-up {
  display: inline-block;
  padding: 10px 53px;
  gap: 10px;
  border: 1px solid #465B95;
  border-radius: 68px;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  color: #8794BA;
  background: #1E2E5C;
}

.header__btn-up:hover {
  background: #EF2A82;
  color: #FFFFFF;
  transition-duration: 0.4s;
}

.header__btn-up:active {
  color: #8794BA;
  background: #1E2E5C;
}

.away {
  display: none;
}

/* =======header__box======= */
.header__box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  -moz-column-gap: 81px;
       column-gap: 81px;
  padding-left: calc(50% - 590.5px);
  padding-right: calc(50% - 804px);
  overflow-x: hidden;
}

.header__box-content {
  max-width: 550px;
  margin-top: 152px;
}

.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #FFFFFF;
  margin: 0;
}

.header__text {
  margin-top: 15px;
}

.header__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8794BA;
}

.header__btn-free {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  gap: 10px;
  width: 238px;
  height: 50px;
  background: #EF2A82;
  border-radius: 68px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 49px;
}

.header__btn-free:hover {
  color: #EF2A82;
  background: #f8f9ff;
  transition-duration: 0.4s;
}

.header__box-screen {
  margin-top: 74px;
  position: relative;
  width: 880px;
  min-height: 590px;
}

.header__box-pic1 {
  width: 361px;
  height: 247px;
  position: absolute;
  top: 124px;
  z-index: 1;
}

.header__box-pic2 {
  width: 804px;
  min-height: 557px;
  position: absolute;
  left: 69px;
  top: 0;
}

.header__box-img {
  width: 100%;
  box-shadow: 0px 19.2249px 53.4024px -16.0207px rgba(25, 42, 89, 0.2);
  border-radius: 32.0414px;
}

.header__box-img2 {
  width: 100%;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
}

.main {
  padding-bottom: 109px;
}

.features {
  margin-top: 38px;
}

.features__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__header {
  display: flex;
  justify-content: center;
  width: 620px;
  height: 53px;
  margin-bottom: 30px;
}

.features__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #172755;
}

.features__txt {
  width: 1060px;
  min-height: 53px;
  margin-bottom: 81px;
}

.features__p {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  color: #8794BA;
}

.features__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features__item {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__img {
  width: 60px;
  height: 60px;
  margin-bottom: 27px;
}

.features__h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #172755;
  margin-bottom: 15px;
}

.features__items-p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #8794BA;
}

.automated {
  padding-top: 10px;
  margin-bottom: 114px;
}

.automated__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.automated__dcs {
  max-width: 480px;
  display: flex;
  flex-direction: column;
}

.automated__pic {
  max-width: 600px;
  display: flex;
}

.automated__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #172755;
  margin-bottom: 30px;
}

.automated__text {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #8794BA;
}

.automated__img {
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
}

.automated__content_reverse {
  flex-direction: row-reverse;
}

.pricing {
  height: 1086px;
  background: url("../img/price/price3.png") center top/cover no-repeat;
}

.pricing__flex {
  display: flex;
  justify-content: center;
}

.pricing__plan {
  max-width: 650px;
  padding-top: 272px;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pricing__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #FFFFFF;
}

.pricing__text {
  padding: 0 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #8794BA;
}

.pricing__items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.pricing__card {
  max-width: 340px;
  height: 440px;
  background-color: #0f1f4b;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  text-align: center;
}

.card__content {
  padding: 50px 60px 70px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__top {
  width: 220px;
  border-bottom: 1px solid #d3d9e9;
}

.card-white {
  background-color: #fff;
  box-shadow: 0px 18px 50px -15px #060f28;
}

.card__top--border-color {
  border-bottom: 1px solid #2a407c;
}

.card__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.166;
  color: #fff;
}

.card__text {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 37px;
}

.card__inner {
  margin-top: 28px;
  margin-bottom: 40px;
}

.card__inner-cost {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.166;
  color: #fff;
}

.card__inner-cost span {
  font-size: 30px;
}

.card--color {
  color: #172755;
}

.card__inner-descr {
  font-size: 16px;
  line-height: 1.375;
}

.btn {
  justify-content: center;
  align-items: center;
  padding: 15px 80px;
  width: 200px;
  height: 50px;
  border-radius: 68px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.btn-border {
  border: 1px solid #2a407c;
}

.btn-border:hover {
  background: #FFFFFF;
  color: #172755;
  transition-duration: 0.4s;
}

.btn--red {
  background: #ef2a82;
}

.btn--back-dark:hover {
  color: #FFFFFF;
  background: #172755;
  transition-duration: 0.4s;
}

.companies {
  padding-top: 109px;
  max-width: 962px;
  margin: 0 auto;
}

.companies__content {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 46px;
       column-gap: 46px;
}

.companies__column {
  width: 50%;
  min-height: 522px;
  position: relative;
}

.companies__column--mini-size {
  width: 41.58%;
  flex-shrink: 0;
}

.companies__title {
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #160637;
}

.companies__descr {
  text-align: center;
}

.companies__descr::before,
.companies__descr::after {
  content: "";
  width: 144px;
  height: 2px;
  background: #d6d6d6;
  top: 31.5%;
  position: absolute;
  transform: translateX(-50%);
}

.companies__descr::before {
  left: 75px;
}

.companies__descr::after {
  right: -60px;
}

.companies__icons {
  margin-top: 50px;
  width: 305px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 70px;
  -moz-column-gap: 105px;
       column-gap: 105px;
}

.companies__icons-accenture,
.companies__icons-react,
.companies__icons-airbnb,
.companies__icons-sky {
  fill: #8989a2;
  transition: fill 0.3s ease-in;
}

.companies__icons-accenture:hover {
  fill: #000;
}

.companies__icons-react:hover {
  fill: rgb(152, 152, 253);
}

.companies__icons-airbnb:hover {
  fill: rgb(254, 69, 69);
}

.companies__icons-sky:hover {
  fill: blue;
}

.companies__column + .companies__column {
  background: #f9f0ff;
  border-radius: 4px;
}

.companies__column-inner {
  position: absolute;
  left: 26px;
  top: -42px;
  padding: 32px 40px;
  width: 428px;
  background-color: #fff;
  box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
  border-radius: 8px;
}

.companies__column-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #160637;
  text-align: center;
}

.form__authorization {
  margin-bottom: 16px;
}

.form__authorization > * + * {
  margin-top: 16px;
}

.form__auth-btn {
  padding-left: 105px;
  padding-right: 104px;
  line-height: 48px;
  height: 48px;
  border-radius: 4px;
  background: #722ed1;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: background 0.3s ease-in;
}

.form__auth-btn:hover {
  background: #ef2a82;
}

.form__auth {
  padding: 16px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #2a407c;
}

.form__auth::-moz-placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: #8989a2;
}

.form__auth::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: #8989a2;
}

.companies__stars {
  text-align: center;
  font-weight: 500;
}

.companies__stars-title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  color: #000000;
}

.rating-area {
  max-width: 348px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-left: 15px;
}

.rating-area:not(:checked) > input {
  display: none;
}

.rating-area:not(:checked) > label {
  margin-right: 15px;
  width: 15px;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 32px;
  color: lightgrey;
  display: flex;
}

.rating-area:not(:checked) > label:before {
  content: "★";
}

.rating-area > input:checked ~ label {
  color: gold;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
  color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
  color: gold;
}

.rate-area > label:active {
  position: relative;
}

.companies__stars-text {
  padding-top: 16px;
  font-size: 14px;
  line-height: 16px;
  border-top: 1px solid rgba(137, 137, 162, 0.48);
}

.companies__stars-text > p > a {
  color: #722ed1;
  display: inline;
}

.footer {
  background: #1f2f5c;
}

.footer__row {
  padding: 64px 0px 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__menu-list {
  display: flex;
}

.footer__menu-item + .footer__menu-item {
  margin-left: 36px;
}

.footer__menu-link {
  font-size: 14px;
  line-height: 1.142;
  color: #8794ba;
  transition: color 0.3s ease-in;
}

.footer__menu-link:hover {
  color: red;
}

.footer__social-list {
  display: flex;
  align-items: center;
}

.footer__social-item + .footer__social-item {
  margin-left: 20px;
}

.footer__social-link {
  fill: #8794ba;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 6px;
  background-color: transparent;
  transition: fill 0.3s ease-in, background-color 0.3s ease-in;
}

.footer__social-link:hover {
  fill: red;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
    width: 100vw;
  }
  .header {
    background: url("../img/header/head-bg-top.png") center bottom/cover no-repeat;
  }
  .away {
    display: flex;
  }
  .header__main {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    font-size: 16px;
    height: 70px;
  }
  .header__logo {
    width: 139px;
    height: 30px;
  }
  .header__img {
    width: 100%;
    height: 100%;
  }
  .header__nav {
    display: none;
    margin-right: auto;
  }
  .header__sing {
    display: flex;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .header__btn-in {
    margin-right: 18px;
  }
  .header__btn-in:hover {
    color: #EF2A82;
  }
  .header__btn-in:active {
    color: #8794BA;
    background: #1E2E5C;
  }
  .header__hamburger {
    width: 24px;
    height: 24px;
  }
  .header__btn-up {
    display: none;
  }
  /* =======header__box======= */
  .header__box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    -moz-column-gap: 0;
         column-gap: 0;
    height: 660px;
    padding-left: 5%;
    overflow-x: auto;
    align-items: flex-start;
  }
  .header__box-content {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: auto;
    padding-top: 26px;
    margin-top: 0;
  }
  .header__title {
    font-size: 31px;
    line-height: 120%;
    margin-top: 0;
  }
  .header__text {
    margin-top: 15px;
  }
  .header__txt > span {
    display: none;
  }
  .header__btn-free {
    padding: 15.5px 128.5px;
    gap: 10px;
    width: 335px;
    max-width: 100%;
    margin-top: 26px;
  }
  .header__box-screen {
    margin-top: 29px;
    width: 100%;
    min-height: 247px;
    display: flex;
    justify-content: center;
  }
  .header__box-pic1 {
    display: none;
  }
  .header__box-pic2 {
    width: 90%;
    max-width: 350px;
    min-height: 50%;
    position: 0;
    left: 0;
    top: 0;
  }
  .header__box-img2 {
    width: 100%;
  }
  .main {
    padding-bottom: 35px;
  }
  .features {
    margin-top: 50px;
  }
  .wrap {
    display: flex;
    flex-direction: column;
  }
  .features__block {
    align-items: flex-start;
    align-items: flex-start;
    padding-bottom: 5px;
  }
  .features__header {
    justify-content: flex-start;
    width: 90%;
    height: 35px;
    margin-bottom: 20px;
  }
  .features__title {
    font-size: 30px;
    line-height: 20px;
    text-align: start;
    padding: 0;
  }
  .features__txt {
    width: 90%;
    min-height: 53px;
    margin: 0;
  }
  .features__p {
    text-align: start;
  }
  .features__items {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }
  .features__item {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 35px;
  }
  .features__img {
    margin-right: 28.5px;
  }
  .features__h4 {
    text-align: start;
    margin-bottom: 9px;
  }
  .features__items-p {
    font-size: 14px;
    text-align: start;
  }
  .fuatures__content {
    display: flex;
    flex-direction: column;
  }
  .automated {
    padding-top: 11px;
    margin-bottom: 73px;
  }
  .automated__content {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
  }
  .automated__dcs {
    max-width: 600px;
    margin-bottom: 30px;
  }
  .automated__img {
    width: 100%;
  }
  .automated__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px;
  }
  .automated__text {
    font-size: 14px;
    line-height: 140%;
  }
  .automated__content_reverse {
    flex-direction: column;
  }
  .pricing {
    width: 100%;
    height: 857px;
    background: url("../img/price/price3.png") center top/cover no-repeat;
    overflow-x: scroll;
  }
  .pricing__flex {
    max-width: 100%;
  }
  .pricing__plan {
    padding-top: 190px;
    text-align: flex-start;
    align-items: flex-start;
  }
  .pricing__title {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 35px;
  }
  .pricing__text {
    padding: 0 0;
    font-size: 14px;
    line-height: 140%;
    margin-top: 20px;
    text-align: left;
  }
  .pricing__items {
    margin-top: 59px;
    justify-content: center;
  }
  .pricing__card {
    max-width: 280px;
    height: 358px;
    background-color: #fff;
  }
  .card__content {
    padding: 35px 35px 47px 35px;
  }
  .card-white {
    margin-left: 20px;
    margin-right: 20px;
  }
  .card__top--border-color {
    border-bottom: 1px solid #d3d9e9;
  }
  .card__title {
    margin-bottom: 7px;
    font-size: 25px;
    line-height: 29.3px;
    color: #172755;
  }
  .card__text {
    font-size: 13px;
    line-height: 18.2px;
    padding-bottom: 30px;
  }
  .card__inner {
    margin-top: 20px;
    margin-bottom: 36px;
  }
  .card__inner-cost {
    color: #172755;
  }
  .card__inner-descr {
    font-size: 13px;
    line-height: 18.2px;
  }
  .btn-media {
    background: #172755;
  }
  .companies {
    padding-bottom: 35px;
    max-width: 376px;
    display: flex;
    justify-content: center;
    padding-top: 34px;
    flex-direction: column;
  }
  .companies__content {
    justify-content: center;
    -moz-column-gap: 0;
         column-gap: 0;
    flex-direction: column;
  }
  .companies__column {
    max-width: 375px;
    min-height: 475px;
    display: flex;
    flex-direction: column;
  }
  .companies__column--mini-size {
    display: none;
  }
  .companies__column-inner {
    left: 0px;
    top: 0px;
    max-width: 375px;
  }
  .rating-area {
    padding-left: 10px;
  }
  .companies__stars-text > p > a {
    display: inline;
  }
  .footer__row {
    padding: 36px 0px 36px 0px;
  }
  .logo {
    width: 125px;
  }
  .footer__menu {
    display: none;
  }
  .footer__social-item + .footer__social-item {
    margin-left: 2%;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
  .header__box-content {
    display: flex;
    flex-direction: column;
    max-width: 96%;
    height: auto;
    padding-top: 6%;
    margin-top: 0;
  }
  .header__box-screen {
    margin-top: 29px;
    width: 96%;
    min-height: 212px;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
  }
  .header__box-pic2 {
    width: 100%;
    max-width: 350px;
    min-height: 212px;
    position: 0;
    left: 0;
    top: 0;
  }
  .header__btn-free {
    justify-content: center;
    align-items: center;
    padding: 15.5px 100px;
    max-width: 335px;
    width: 100%;
    margin-top: 26px;
  }
  .features__block {
    align-items: flex-start;
    padding-bottom: 5px;
  }
  .features__header {
    justify-content: flex-start;
    width: 96%;
    height: 35px;
    margin-bottom: 20px;
  }
  .features__title {
    font-size: 30px;
    line-height: 20px;
    text-align: start;
    padding: 0;
  }
  .features__txt {
    width: 96%;
    margin: 0;
  }
  .features__p {
    text-align: start;
  }
  .features__items {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .features__item {
    width: 96%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 35px;
  }
  .features__img {
    margin-right: 28.5px;
  }
  .companies {
    padding-bottom: 35px;
    max-width: 320px;
    display: flex;
    justify-content: center;
    padding-top: 34px;
    flex-direction: column;
  }
  .companies__column-inner {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 32px 20px;
    max-width: 320px;
  }
  .companies__column {
    max-width: 320px;
    min-height: 475px;
    display: flex;
    flex-direction: column;
  }
  .companies__column--mini-size {
    display: none;
  }
  .footer__social-item + .footer__social-item {
    margin-left: 1%;
  }
}
@media (max-width: 355px) {
  .header__box-content {
    padding-top: 0;
  }
}/*# sourceMappingURL=style.css.map */